<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<div>
    <h1>Probando el controlador</h1>
    <h2>{{txt}} asd</h2>

    <div class="row content">
        
        

                <div class="col-lg-12 col-md-12 col-sm-12">
                	<div class="breadcrumbs">
                    	<p><a href="#">Inicio</a> <i class="icons icon-right-dir"></i> Categorias</p>
                    </div>
                </div>
                
				<!-- Main Content -->
				<section class="main-content col-lg-9 col-md-9 col-sm-9 col-lg-push-3 col-md-push-3 col-sm-push-3">
                        
                    <div class="row">
                    
                    	<!-- Heading -->
                    <div class="col-lg-12 col-md-12 col-sm-12">
                                                
                        <!-- Newsletter -->
							
								
							
							<!-- /Newsletter -->
                        
							<!-- <div class="carousel-heading">
								<h4>Buscar</h4>
                                                                
                                                                
							</div> -->
                            <form id="newsletter">
									
									<input type="search" name="newsletter-email" placeholder="Nombre del producto"
                                           ng-model="nombreProducto">

                                    <button ng-click="buscar()"

                                            value="Buscar" >Buscar </button>
                            </form>
                              <br>
                                                        
                                                    
                       
                                                 
                                                    
                                                    <!-- Filter -->
                    <div class="row sidebar-box green">
                    
                    	<div class="col-lg-12 col-md-12 col-sm-12">
                        	
                            <div class="sidebar-box-heading">
                            	<i class="icons icon-filter"></i>
                            	<h4>Filtros</h4>
                            </div>
                            
                            <div class="sidebar-box-content sidebar-padding-box">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <label>Plazoleta de comidas </label><br>
                                    <select class="chosen-select-full-width">
                                            <option>Plazoleta 1</option>
                                        <option>Plazoleta 1</option>
                                        <option>Plazoleta 1</option>
                                        <option>Plazoleta 1</option>
                                        <option>Plazoleta 1</option>
                                    </select>
                                    
                                    </div>
                                    
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <label>Categorias</label><br>
                                    <select class="chosen-select-full-width">
                                            <option>Category 1</option>
                                        <option>Category 1</option>
                                        <option>Category 1</option>
                                        <option>Category 1</option>
                                        <option>Category 1</option>
                                    </select>
                                    
                                    </div>
                                        
                                    
                                
                                
                                </div>
                            	
                                
                                
                               
                                
                            </div>
                            
                        </div>
                        
                    </div>
                                                   
							
	</div>
	<!-- /Heading -->
                        
                        
        </div>
                     
					<div class="row">
                                            
                                            
                                            
                                            
                                            
                    	
                       
                        
                        <div class="col-lg-6 col-md-6 col-sm-6">
                        	<div class="category-results">
                            	<p>Results 1-6 of 6</p>
                                <p>Show 
                                <select class="chosen-select">
                                	<option>1</option>
                                   	<option>2</option>
                                    <option>6</option>
                                    <option>P10</option> 
                                </select>
                                per page
                                </p>
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-sm-6">
                        	<div class="pagination">
                            	<a href="#"><div class="previous"><i class="icons icon-left-dir"></i></div></a>
                                <a href="#"><div class="page-button">1</div></a>
                                <a href="#"><div class="page-button">2</div></a>
                                <a href="#"><div class="page-button">3</div></a>
                                <a href="#"><div class="next"><i class="icons icon-right-dir"></i></div></a>
                            </div>
                        </div>
                        
                   </div>
                   
                   <div class="row"> 
                        <!-- Product Item -->
                        <div class="col-lg-4 col-md-4 col-sm-4 product">
                            
                            <div class="product-image">
                                <img src="img/products/sample1.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
														<i class="icons icon-eye-1"></i> Quick View
													</a>
                            </div>
                            
                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>
                            
                            <div class="product-actions">
													<span class="add-to-cart">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-basket-2"></i>
                                                            <span class="action-name">Add to cart</span>
                                                        </span >
                                                    </span>
													<span class="add-to-favorites">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-heart-empty"></i>
                                                            <span class="action-name">Add to wishlist</span>
                                                        </span>
                                                    </span>
													<span class="add-to-compare">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-docs"></i>
                                                            <span class="action-name">Add to Compare</span>
                                                        </span>
                                                    </span>
												</div>
                            
                        </div>
                        <!-- Product Item -->
                        
                        
                        <!-- Product Item -->
                        <div class="col-lg-4 col-md-4 col-sm-4 product">
                            
                            <div class="product-image">
                                <img src="img/products/sample2.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
														<i class="icons icon-eye-1"></i> Quick View
													</a>
                            </div>
                            
                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>
                            
                            <div class="product-actions">
													<span class="add-to-cart">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-basket-2"></i>
                                                            <span class="action-name">Add to cart</span>
                                                        </span >
                                                    </span>
													<span class="add-to-favorites">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-heart-empty"></i>
                                                            <span class="action-name">Add to wishlist</span>
                                                        </span>
                                                    </span>
													<span class="add-to-compare">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-docs"></i>
                                                            <span class="action-name">Add to Compare</span>
                                                        </span>
                                                    </span>
												</div>
                            
                        </div>
                        <!-- Product Item -->
                        
                        
                        <!-- Product Item -->
                        <div class="col-lg-4 col-md-4 col-sm-4 product">
                            
                            <div class="product-image">
                                <img src="img/products/sample3.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
														<i class="icons icon-eye-1"></i> Quick View
													</a>
                            </div>
                            
                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>
                            
                            <div class="product-actions">
													<span class="add-to-cart">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-basket-2"></i>
                                                            <span class="action-name">Add to cart</span>
                                                        </span >
                                                    </span>
													<span class="add-to-favorites">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-heart-empty"></i>
                                                            <span class="action-name">Add to wishlist</span>
                                                        </span>
                                                    </span>
													<span class="add-to-compare">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-docs"></i>
                                                            <span class="action-name">Add to Compare</span>
                                                        </span>
                                                    </span>
												</div>
                            
                        </div>
                        <!-- Product Item -->
                        
                        <!-- Product Item -->
                        <div class="col-lg-4 col-md-4 col-sm-4 product">
                            
                            <div class="product-image">
                                <img src="img/products/sample4.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
														<i class="icons icon-eye-1"></i> Quick View
													</a>
                            </div>
                            
                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>
                            
                            <div class="product-actions">
													<span class="add-to-cart">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-basket-2"></i>
                                                            <span class="action-name">Add to cart</span>
                                                        </span >
                                                    </span>
													<span class="add-to-favorites">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-heart-empty"></i>
                                                            <span class="action-name">Add to wishlist</span>
                                                        </span>
                                                    </span>
													<span class="add-to-compare">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-docs"></i>
                                                            <span class="action-name">Add to Compare</span>
                                                        </span>
                                                    </span>
												</div>
                            
                        </div>
                        <!-- Product Item -->
                        
                        
                        <!-- Product Item -->
                        <div class="col-lg-4 col-md-4 col-sm-4 product">
                            
                            <div class="product-image">
                                <img src="img/products/sample5.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
														<i class="icons icon-eye-1"></i> Quick View
													</a>
                            </div>
                            
                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>
                            
                            <div class="product-actions">
													<span class="add-to-cart">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-basket-2"></i>
                                                            <span class="action-name">Add to cart</span>
                                                        </span >
                                                    </span>
													<span class="add-to-favorites">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-heart-empty"></i>
                                                            <span class="action-name">Add to wishlist</span>
                                                        </span>
                                                    </span>
													<span class="add-to-compare">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-docs"></i>
                                                            <span class="action-name">Add to Compare</span>
                                                        </span>
                                                    </span>
												</div>
                            
                        </div>
                        <!-- Product Item -->
                        
                        
                        <!-- Product Item -->
                        <div class="col-lg-4 col-md-4 col-sm-4 product">
                            
                            <div class="product-image">
                                <img src="img/products/sample6.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
														<i class="icons icon-eye-1"></i> Quick View
													</a>
                            </div>
                            
                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>
                            
                            <div class="product-actions">
													<span class="add-to-cart">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-basket-2"></i>
                                                            <span class="action-name">Add to cart</span>
                                                        </span >
                                                    </span>
													<span class="add-to-favorites">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-heart-empty"></i>
                                                            <span class="action-name">Add to wishlist</span>
                                                        </span>
                                                    </span>
													<span class="add-to-compare">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-docs"></i>
                                                            <span class="action-name">Add to Compare</span>
                                                        </span>
                                                    </span>
												</div>
                            
                        </div>
                        <!-- Product Item -->
                        
                        <!-- Product Item -->
                        <div class="col-lg-4 col-md-4 col-sm-4 product">
                            
                            <div class="product-image">
                                <img src="img/products/sample7.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
														<i class="icons icon-eye-1"></i> Quick View
													</a>
                            </div>
                            
                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>
                            
                            <div class="product-actions">
													<span class="add-to-cart">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-basket-2"></i>
                                                            <span class="action-name">Add to cart</span>
                                                        </span >
                                                    </span>
													<span class="add-to-favorites">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-heart-empty"></i>
                                                            <span class="action-name">Add to wishlist</span>
                                                        </span>
                                                    </span>
													<span class="add-to-compare">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-docs"></i>
                                                            <span class="action-name">Add to Compare</span>
                                                        </span>
                                                    </span>
												</div>
                            
                        </div>
                        <!-- Product Item -->
                        
                        
                        <!-- Product Item -->
                        <div class="col-lg-4 col-md-4 col-sm-4 product">
                            
                            <div class="product-image">
                                <img src="img/products/sample8.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
														<i class="icons icon-eye-1"></i> Quick View
													</a>
                            </div>
                            
                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>
                            
                            <div class="product-actions">
													<span class="add-to-cart">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-basket-2"></i>
                                                            <span class="action-name">Add to cart</span>
                                                        </span >
                                                    </span>
													<span class="add-to-favorites">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-heart-empty"></i>
                                                            <span class="action-name">Add to wishlist</span>
                                                        </span>
                                                    </span>
													<span class="add-to-compare">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-docs"></i>
                                                            <span class="action-name">Add to Compare</span>
                                                        </span>
                                                    </span>
												</div>
                            
                        </div>
                        <!-- Product Item -->
                        
                        
                        <!-- Product Item -->
                        <div class="col-lg-4 col-md-4 col-sm-4 product">
                            
                            <div class="product-image">
                                <img src="img/products/sample9.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
														<i class="icons icon-eye-1"></i> Quick View
													</a>
                            </div>
                            
                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>
                            
                            <div class="product-actions">
													<span class="add-to-cart">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-basket-2"></i>
                                                            <span class="action-name">Add to cart</span>
                                                        </span >
                                                    </span>
													<span class="add-to-favorites">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-heart-empty"></i>
                                                            <span class="action-name">Add to wishlist</span>
                                                        </span>
                                                    </span>
													<span class="add-to-compare">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-docs"></i>
                                                            <span class="action-name">Add to Compare</span>
                                                        </span>
                                                    </span>
												</div>
                            
                        </div>
                        <!-- Product Item -->
                        
                        <!-- Product Item -->
                        <div class="col-lg-4 col-md-4 col-sm-4 product">
                            
                            <div class="product-image">
                                <img src="img/products/sample1.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
														<i class="icons icon-eye-1"></i> Quick View
													</a>
                            </div>
                            
                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>
                            
                            <div class="product-actions">
													<span class="add-to-cart">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-basket-2"></i>
                                                            <span class="action-name">Add to cart</span>
                                                        </span >
                                                    </span>
													<span class="add-to-favorites">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-heart-empty"></i>
                                                            <span class="action-name">Add to wishlist</span>
                                                        </span>
                                                    </span>
													<span class="add-to-compare">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-docs"></i>
                                                            <span class="action-name">Add to Compare</span>
                                                        </span>
                                                    </span>
												</div>
                            
                        </div>
                        <!-- Product Item -->
                        
                        
                        <!-- Product Item -->
                        <div class="col-lg-4 col-md-4 col-sm-4 product">
                            
                            <div class="product-image">
                                <img src="img/products/sample2.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
														<i class="icons icon-eye-1"></i> Quick View
													</a>
                            </div>
                            
                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>
                            
                            <div class="product-actions">
													<span class="add-to-cart">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-basket-2"></i>
                                                            <span class="action-name">Add to cart</span>
                                                        </span >
                                                    </span>
													<span class="add-to-favorites">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-heart-empty"></i>
                                                            <span class="action-name">Add to wishlist</span>
                                                        </span>
                                                    </span>
													<span class="add-to-compare">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-docs"></i>
                                                            <span class="action-name">Add to Compare</span>
                                                        </span>
                                                    </span>
												</div>
                            
                        </div>
                        <!-- Product Item -->
                        
                        
                        <!-- Product Item -->
                        <div class="col-lg-4 col-md-4 col-sm-4 product">
                            
                            <div class="product-image">
                                <img src="img/products/sample3.jpg" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
														<i class="icons icon-eye-1"></i> Quick View
													</a>
                            </div>
                            
                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>
                            
                            <div class="product-actions">
													<span class="add-to-cart">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-basket-2"></i>
                                                            <span class="action-name">Add to cart</span>
                                                        </span >
                                                    </span>
													<span class="add-to-favorites">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-heart-empty"></i>
                                                            <span class="action-name">Add to wishlist</span>
                                                        </span>
                                                    </span>
													<span class="add-to-compare">
                                                        <span class="action-wrapper">
                                                            <i class="icons icon-docs"></i>
                                                            <span class="action-name">Add to Compare</span>
                                                        </span>
                                                    </span>
												</div>
                            
                        </div>
                        <!-- Product Item -->
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="category-results">
                                <p>Results 1-6 of 6</p>
                                <p>Show 
                                <select class="chosen-select">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>6</option>
                                    <option>P10</option> 
                                </select>
                                per page
                                </p>
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="pagination">
                                <a href="#"><div class="previous"><i class="icons icon-left-dir"></i></div></a>
                                <a href="#"><div class="page-button">1</div></a>
                                <a href="#"><div class="page-button">2</div></a>
                                <a href="#"><div class="page-button">3</div></a>
                                <a href="#"><div class="next"><i class="icons icon-right-dir"></i></div></a>
                            </div>
                        </div>
                        
                    </div>
					
					
						
				</section>
				<!-- /Main Content -->
				
				
				
				
				<!-- Sidebar -->
				<aside class="sidebar col-lg-3 col-md-3 col-sm-3  col-lg-pull-9 col-md-pull-9 col-sm-pull-9">
					
					<!-- Categories -->
					<div class="row sidebar-box purple">
						
						<div class="col-lg-12 col-md-12 col-sm-12">
							
							<div class="sidebar-box-heading">
								<i class="icons icon-folder-open-empty"></i>
								<h4>Categorias</h4>
							</div>
							
							<div class="sidebar-box-content">
								<ul>
									<li><a href="#">Cameras &amp; Photography <i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">Computers &amp; Tablets <i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">Cell Phones &amp; Accessories <i class="icons icon-right-dir"></i></a>
                                    	<ul class="sidebar-dropdown">
                                        	<li>
                                            	<ul>
                                                	<li><a href="#">Cell phones &amp; Smartphone</a></li>
                                                    <li><a href="#">Cell Phone Accessories</a></li>
                                                    <li><a href="#">Headsets</a></li>
                                                    <li><a href="#">Cases, Covers & Skins</a></li>
                                                    <li><a href="#">Screen Protectors</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                            	<ul>
                                                	<li><a href="#">Chargers & Cradles</a></li>
                                                    <li><a href="#">Batteries</a></li>
                                                    <li><a href="#">Cables & Adapters</a></li>
                                                    <li><a href="#">All About Smartphones</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
									<li><a href="#">TV, Audio &amp; Surveillance <i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">Video Games &amp; Consoles <i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">Car Audio, Video &amp; GPS <i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">Best Sellers <i class="icons icon-right-dir"></i></a></li>
									<li><a href="#">Shop by Brands <i class="icons icon-right-dir"></i></a></li>
									<li><a class="purple" href="#">All Categories</a></li>
								</ul>
							</div>
							
						</div>
							
					</div>
					<!-- /Categories -->
					
					
					
					
					
					
					
					
				</aside>
				<!-- /Sidebar -->
				
			</div>
			<!-- /Content -->
                        
                        
                        
                        
                        
                        
                        
    
</div>





