<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<div  ng-init="prd.obtenerDatos()">
    <!-- <h1>Probando el controlador</h1>
    <h2>{{txt}} asd</h2>
    <button ng-click="prd.buscar()" >buscar</button> -->
    
    <div class="row content">

                <div class="col-lg-12 col-md-12 col-sm-12">
                	<div class="breadcrumbs">
                    	<p><a href="#">Inicio</a> <i class="icons icon-right-dir"></i> Categorias</p>
                    </div>
                </div>
                
				<!-- Main Content -->
				<section class="main-content col-lg-9 col-md-9 col-sm-9 col-lg-push-3 col-md-push-3 col-sm-push-3">
                        
                    <div class="row">
                    
                        
                        
                        
                    	<!-- Heading -->
                    <div class="col-lg-12 col-md-12 col-sm-12">
                            <h2> 
                                {{seccion}}
                            </h2>                    
                            <input type="search" name="newsletter-email" 
                            placeholder="Nombre del producto" ng-model="nombreProducto">
                            <button ng-click="prd.buscarProductos(nombreProducto , plazoletaSelected , franquiciaSelected)"
                                            value="Buscar" >Buscar </button>
                            
                            <br></br>

        <!-- Filter -->
        <div class="row sidebar-box green" ng-show="filtro">
                    
                    	<div class="col-lg-12 col-md-12 col-sm-12">
                        	
                            <div class="sidebar-box-heading">
                            	<i class="icons icon-filter"></i>
                            	<h4>Filtros</h4>
                            </div>
                            
                            <div class="sidebar-box-content sidebar-padding-box">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4" >
                                        <label>Sucursales </label><br>
                                        <!--<select class="chosen-select-full-width" ng-init="prd.obtenerPlazoletas()" ng-model="plazoletaSelected">
                                            <option> seleccione una opción</option>
                                            <option  ng-repeat="plazoleta in plazoletas" ng-click="prd.buscarSucursales(plazoleta.id)"  >
                                                {{plazoleta.id.idPlazoletaComidas}} - {{plazoleta.id.ciudad}}
                                            </option>
                                        </select>
                                        {{plazoletaSelected}}-->
                                        <select class="chosen-select-full-width" 
                                               >
                                            <option> seleccione una opción</option>
                                           
                                            
                                        </select>
                                        
                                    </div>
                                    
                                    <div class="col-lg-4 col-md-4 col-sm-4" ng-show="false">
                                        <label>Franquicias</label><br>
                                    <select class="chosen-select-full-width">
                                            <option>Category 1</option>
                                        <option>Category 1</option>
                                        <option>Category 1</option>
                                        <option>Category 1</option>
                                        <option>Category 1</option>
                                    </select>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                                   			
	</div>
	<!-- /Heading -->
                        
                        
        </div>
                     
       
                   
                   <div class="row"> 
                        <!-- Product Item -->
                        <div class="col-lg-4 col-md-4 col-sm-4 product" ng-repeat="prod in productos">
                            
                            <div class="product-image">
                                <img src="{{prod.urlImagen}}" alt="Product1">
                                <a href="products_page_v1.html" class="product-hover">
				<i class="icons icon-eye-1"></i> Quick View
				</a>
                            </div>
                            
                            <div class="product-info">
                                <h5><a href="products_page_v1.html">{{prod.descripcion}}</a></h5>
                                <span class="price">$ {{prod.precio}}</span>
                                <div class="rating readonly-rating" data-score="4"></div>
                            </div>
                            
                            <div class="product-actions">
                                <span class="add-to-cart">
                                    <span class="action-wrapper">
                                                            <i class="icons icon-eye-1"></i>
                                                            <span class="action-name">Add to cart</span>
                                                        </span >
                                </span>
													
                            </div>
                            
                        </div>
                        <!-- Product Item -->
                    </div>
                                    
				</section>
				<!-- /Main Content -->
				
				
				
				
				<!-- Sidebar -->
				<aside class="sidebar col-lg-3 col-md-3 col-sm-3  col-lg-pull-9 col-md-pull-9 col-sm-pull-9">
					<!-- Categories -->
					<div class="row sidebar-box purple">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="sidebar-box-heading">
								<i class="icons icon-food"></i>
								<h4>Plazoletas  </h4>
							</div>
							<div class="sidebar-box-content">
								<ul>
									<li ng-repeat="plazoleta in plazoletas"  >
                                                                          <a href="#/consultarproductos" data-ng-click="prd.seleccionarPlazoleta(plazoleta)">
                                                                            {{plazoleta.id.idPlazoletaComidas}} - {{plazoleta.id.ciudad}} 
                                                                                 <i class="icons icon-right-dir"></i>
                                                                          </a>
                                                                        </li>
								</ul>
							</div>
							
						</div>
							
					</div>
					<!-- /Categories -->
                                        <div class="row sidebar-box purple">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="sidebar-box-heading">
								<i class="icons icon-shop-1"></i>
								<h4>Restaurantes  </h4>
							</div>
							<div class="sidebar-box-content">
								<ul>
									<li ng-repeat="franquicia in franquicias"  >
                                                                          <a href="#/consultarproductos" data-ng-click="prd.seleccionarFranquicia(franquicia)">
                                                                            {{franquicia.idFranquicia}}
                                                                                 <i class="icons icon-right-dir"></i>
                                                                          </a>
                                                                        </li>
								</ul>
							</div>
						</div>	
					</div>
				</aside>
				<!-- /Sidebar -->
				
			</div>
			<!-- /Content -->
</div>





