<div ng-init="cc.consultar()" >
    <h1> Pedidos </h1>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>id del Pedido</th>
                    <th>Enviado A la Sucursal</th>
                    <th>Notificado Al Cliente</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="prod in lista">
                    <td>
                       {{prod.idPedidos}}
                    </td>
                    <td>
                        <span ng-show="{{!prod.enviadoAsucursal}}" class="label label-danger">sin enviar</span>
                        <span ng-show="{{prod.enviadoAsucursal}}" class="label label-success">enviado</span>
                    </td>
                    <td> 
                        <button ng-disabled="{{prod.notificadoAcliente}}"
                                ng-show="{{!prod.notificadoAcliente}}"
                                ng-click="cc.notificarCliente(prod)" 
                                class="btn btn-info">Notificar pedido Listo</button>
                                
                         <span ng-show="{{prod.notificadoAcliente}}" class="label label-success">notificado</span>
                    </td>
                </tr>
            </tbody>
            
         
        </table>
    </div>
</div>