<div ng-init="cc.consultarSucursales()">
    <h1> Pedidos </h1>
    <div class="table-responsive">
  
        <select class="form-control" ng-model="correctlySelected" ng-options="
        opt as 
        opt.idSucursales + ' ' + 
        opt.franquicias.idFranquicia + ' ' +  
        opt.plazoletaComidas.id.idPlazoletaComidas  for opt in options">
           
        </select>
        
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>id del Pedido</th>
                    <th>enviado A sucursal</th>
                    <th>Productos</th>
                    <th>Obtener pedido</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="prod in lista">
                    <td>{{prod.idPedidos}}</td>
                    <td>
                        <span ng-show="{{!prod.enviadoAsucursal}}" class="label label-danger">Sin recibir</span>
                        <span ng-show="{{prod.enviadoAsucursal}}" class="label label-success">Recibido</span>
                    </td>
                    <td>
                        <ul ng-repeat="produc in prod.pedidosProductoses">
                            {{produc.productos.descripcion}}
                        </ul>
                        
                    </td>
                    <td><button  ng-click="cc.enviarPedido(prod.idPedidos)" class="btn btn-info">Obtener pedido</button></td> 
                </tr>
            </tbody>
            <button ng-click="cc.consultar()" class="btn btn-info">Consultar pedidos de la sucursal</button>
        </table>
    </div>
</div>
