<div ng-controller="controlpedidos as cc" >
    <h1> Pedidos </h1>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>idPedidos</th>
                    <th>enviadoAsucursal</th>
                    <th>notificadoAcliente</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="prod in lista">
                    <td>{{prod.idPedidos}}</td>
                    <td>{{prod.enviadoAsucursal}}</td>
                    <td>{{prod.notificadoAcliente}}</td>
                </tr>
            </tbody>
            <button ng-click="cc.consultar()" class="btn btn-info">Consultar productos</button>
         
        </table>
    </div>
</div>